<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Verlauf
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Verlauf</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label style="font-size: 1.5rem;">Mahlzeit Verlauf</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let mahlzeit of mahlzeiten">
      <ion-card>
        <img alt="Mahlzeit Bild" [src]="createImageUri(mahlzeit)" *ngIf="mahlzeit.file !== ''" loading="lazy"/>
        <ion-card-header>
          <ion-card-title>{{mahlzeit.user}}</ion-card-title>
          <ion-card-subtitle>hat gemahlzeitet am {{mahlzeit.created.toLocaleString()}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{mahlzeit.message}}

          <div class="stars">
            <img ngSrc="/assets/star.svg" alt="star" width="15" height="15" *ngIf="mahlzeit.rating >= 1">
            <img ngSrc="/assets/star.svg" alt="star" width="15" height="15" *ngIf="mahlzeit.rating >= 2">
            <img ngSrc="/assets/star.svg" alt="star" width="15" height="15" *ngIf="mahlzeit.rating >= 3">
            <img ngSrc="/assets/star.svg" alt="star" width="15" height="15" *ngIf="mahlzeit.rating >= 4">
            <img ngSrc="/assets/star.svg" alt="star" width="15" height="15" *ngIf="mahlzeit.rating >= 5">
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="!reachedEnd && loading">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

  <ion-loading message="Mahlzeiten werden geladen..." #loading/>
</ion-content>
