<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mahlzeit Melder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mahlzeit Melder</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #form>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label style="font-size: 1.5rem;">Mahlzeit melden</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input label="Nachricht" label-placement="floating" type="text" #message></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="file" accept="image/*" #file></ion-input>
      </ion-item>

      <ion-button (click)="sendMahlzeit(message, file, alert, form, loading)">Senden</ion-button>
      <ion-loading message="Mahlzeit wird gespeichert..." #loading/>
      <ion-alert
        #alert
        header="Mahlzeit!"
        message="Deine Mahlzeit wurde an alle Benutzer gemeldet."
        [buttons]="['Okay']"
      />
    </ion-list>
  </form>
</ion-content>
